body
{
  background-color: gold;
  text-align: center;
}
table
{
  align-items: center;
  border: 1px solid;
  width: 100%;
  background-color: teal;
}
.div1
{
  background-color:magenta;
  width: 100%;
  height: auto;
  text-align: unset;
  margin: auto;
}
tbody
{
  background-color:peachpuff;
}
